<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Puli Demo Application</title>

    <link rel="stylesheet" href="{{ resource_url('../public/css/style.css') }}">

    {% block stylesheets %}{% endblock %}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
Demo Application &raquo; <strong>Home</strong>

{% block content %}{% endblock %}

<hr/>

&copy; 2015 Bugs Bunny

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ resource_url('../public/js/jquery.min.js') }}"><\/script>')</script>

<script src="{{ resource_url('../public/js/bootstrap.min.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
